body {
    max-width: 800px;
    margin: auto;
    padding: .2em;
    line-height: 1.5em;
    font-size: 125%;
    letter-spacing: -.25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f3f4f4;
}

#TableOfContents,
#TOC {
    border: 1px solid #eee;
    border-radius: 5px;
}


/* Header and Footer */

.menu li {
    display: inline-block;
}

.article-meta,
.menu a {
    text-decoration: none;
    padding: 5px;
    background-color: #ffffff1a;
}

.article-meta {
    text-align: center;
    background: #ffffff;
    line-height: 1.8em;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-radius: 5px 5px 0 0
}

.terms-list {
    font-size: .9em;
}

.menu,
.article-meta {
    text-align: center;
    background: #ffffff;
    line-height: 1.8em;
}

footer {
    text-align: center;
    color: #999;
    padding: 5px;
    margin: 25px 0 25px 0;
}

.title {
    font-size: 2.25rem;
    line-height: 1em;
}

footer a {
    text-decoration: none;
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

a {
    color: #408FEC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(13px + .25vw);
}

nav ul li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.post-list-entry {
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


/* Adjust background at your leisure! */

header {
    position: relative;
    width: 100%;
    font-family: "Lucida Console", "Liberation Mono";
    background: #79589F;
    border-bottom: 1px solid #000;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}

header nav {
    padding: 0 0.5rem
}

header a {
    color: #fff;
    line-height: 1.75rem;
    padding: 0 0.5rem
}

header a:hover,
header .current a {
    color: #fff
}


/* Code Boxes */

pre {
    border: 1px solid #ddd;
    -webkit-box-shadow: 5px 5px 5px #eee;
    box-shadow: 5px 5px 5px #eee;
    background: #f8f8f8;
    padding: 1em;
    overflow-x: auto;
}

code {
    background: #f9f9f9;
}

pre code {
    background: none;
}


/* Images, tables, misc. */

img,
iframe,
video {
    max-width: 100%;
}

main {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: #fff;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    padding: 25px;
    border-radius: 0 0 5px 5px;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

table thead th {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 5px;
}

tr:nth-child(even) {
    background: #eee
}

h1 {
    line-height: 1.2;
}

.profile-photo {
    max-width: 20%;
    min-width: 40px;
    float: right;
    border-radius: 50%;
}

.post-list {
    background: #ffff;
    padding: 25px;
    border-radius: 5px;
    list-style: none;
}

.terms-list__no-style {
    background: #ffff;
    padding: 25px;
    border-radius: 5px;
    list-style: none;
}

.post-list-entry .icon {
    display: inline-block;
    padding-right: 10px;
    color: #79589F;
    vertical-align: top;
    font-size: 1.3em;
}

.post-list-entry .date {
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    main {}
    .article-meta {}
}