{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title }}</span></h1>
{{ if .Params.date }}<h2 class="date"><i class="far fa-clock"> </i> {{ .Date.Format "2006/01/02" }}</h2>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}"><i class="fas fa-tag"></i> {{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}

<main>
{{ .Content }}
</main>

<div id="disqus_thread"></div>
{{ partial "footer.html" . }}

<script>
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://starptech.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
